<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Order Sucessful</title>
    <link rel="stylesheet"  href= "{{ url_for('static' , filename='style.css') }}">
</head>
<body>
    <div class="success-msg">
        <div class="tick">✔</div>

        <h2>🎉Order Placed Sucessfully</h2>
        
        <p>Thank you for shopping with Chrono Cart ⌚</p>
        
        <a href="/">
            <button>Continue Shopping</button>
        </a>
    </div>
</body>
</html>